@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?rscilf');
  src:  url('../fonts/icomoon.eot?rscilf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rscilf') format('truetype'),
    url('../fonts/icomoon.woff?rscilf') format('woff'),
    url('../fonts/icomoon.svg?rscilf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-document-file-pdf:before {
  content: "\e906";
}
.icon-plus:before {
  content: "\e908";
}
.icon-mobile:before {
  content: "\e907";
}
.icon-envelope-o:before {
  content: "\e905";
}
.icon-github:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-telegram:before {
  content: "\ea95";
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #fff;
  background: #333;
}

a {
	color: #ccc;
	text-decoration: none;
}

a:hover {
	color: #000;
}

.link:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 1.3;
	text-indent: 0;
}

.social a {
	font-size: 28px;
	margin-right: 10px;
	margin-left: 10px;
	color: #47a3da;
	opacity: 0.8;
	background-color: #fff;
	display: inline-block;
	position: relative;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	border: 3px solid #47a3da;
	border-radius: 50%;
}

.social a:hover {
	color: #fff;
	background-color: #47a3da;
}

.side-left {
	overflow: scroll;
	padding: 80px 120px;
}

.referral {
	visibility: hidden;
	display: none !important;
}

.juicer-feed li.feed-item.juicer {
	display: none !important;
}

.mobile-layout .side {
	width: 100%;
}

.mobile-layout .side.side-left {
	display:none;
}

.mobile-layout .side .juicer-feed {
	display:none;
}

.mobile-layout .intro-content {
	top: 40%;
}

.mobile-layout .social a {
    font-size: 25px;
}